.headerInner{
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #eee;
	margin-bottom: 30px;
}
.logo{
	font-size: x-large;
	margin-right: 10px;
	margin-left: 10px;
}
.globalNav{
	font-size: x-large;
	line-height: 100px;
}

.globalNav a{
	text-decoration: none;
	margin-right: 10px;
	margin-right: 10px;
}


.meter-wrapper{
	height: 300px;
	width: 300px;
	background-color: #eee;
	margin: 20% auto;
	position: relative;
	border-radius: 150px;
	box-shadow: 0 0 5px rgb(122, 122, 122) inset;
	z-index: 1;
}
#meter-number-plate{
	height: 90px;
	width: 90px;
	background-color: white;
	position: absolute;
	border-radius: 100px;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	left: 50%;
	box-shadow: 0 0 3px rgb(122, 122, 122);
	z-index: 3;
}
#meter-pointer{
	background-color: red;
	width: 38%;
	height: 10px;
	position: absolute;
	border-radius: 10px;
	top: 50%;
	transform-origin: right;
	transform: translateY(-50%) rotate(0deg);
	right: 50%;
	box-shadow: 0 0 3px rgb(122, 122, 122);
	z-index: 2;
}

.meter-number{
	position: absolute;
	font-weight: bold;
}
#meter-number-0{
	top: 50%;
	left: 1%;
	transform: translateY(-50%);
}
#meter-number-25{
	top: 15%;
	left: 15%;
}
#meter-number-50{
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
}
#meter-number-75{
	top: 15%;
	right: 15%;
}
#meter-number-100{
	top: 50%;
	right: 1%;
	transform: translateY(-50%);
}
#meter-number-125{
	bottom: 15%;
	right: 15%;
}
#meter-number-150{
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
}
#meter-number-175{
	bottom: 15%;
	left: 15%;
}

#meter-digital{
	font-size: xx-large;
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
}
.unit{
	/* display: inline-block; */
	font-size: x-large;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
}

.footerInner{
	text-align: center;
	font-weight: bold;

	margin-top: 50px;
	padding: 30px;
}

footer{
	background-color: #eee;
}